@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter";

}

:root {
  --white: #fff;
  --black: #000;
  --shadow-black: rgba(0, 0, 0, 0.35);
  --shadow-white: rgba(255, 255, 255, 0.35);


  --main-blue: #0511f2;
  --dark-blue: #0d15a6;

  --grey: #909090;
}

[data-theme="dark"] {
  --white: #000;
  --black: #fff;
  --shadow-black: rgba(255, 255, 255, 0.84);
  --shadow-white: rgba(0, 0, 0, 0.35);
}

.section {

  position: relative;
  margin-right: 0vw;
}

body {
  overflow-x: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 400vh;

  background: var(--white);
  color: var(--black);

  transition: background 0.5s;

  overflow: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15vw;
  margin-bottom: 0vw;
}

header > .me-name {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 65vw;

  gap: 5px;
}

.me-name > h1 {
  font-size: 2rem;
  font-weight: 700;
}

.me-name > .me-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 110px;
  font-size: 0.8rem;
  color: var(--grey);
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 30px;

  color: var(--black);

  position: absolute;
  top: 2vw;
  right: 8vw;
}

nav > ul > a {
  text-decoration: none;
  color: var(--black);

  transition: color 0.3s;
}

nav > ul > a:hover {
  color: var(--main-blue);
}

.section {
  margin-left: 10vw;
}

#hello {
  width: 80vw;
  height: 60vh;

  padding-top: 4vh;

  display: flex;
  flex-direction: column;

  margin-top: 3vw;

}

.hello-row {
  display: flex;
}

.apresentation > h2 {
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 500;
}

.apresentation > h1 {
  width: 750px;
  height: 300px;

  font-size: 3rem;

  font-weight: 700;

  margin-top: 5px;
}

.apresentation > h1 > span {
  background: linear-gradient(
    245deg,
    #43d294 15.94%,
    #57f2cc 48.55%,
    #7cb4f9 84.06%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-light-mode {
  width: 150px;
  height: 150px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  top: -1vw;
  left: 20vw;

  font-weight: 500;

  scale: 0.8;
}

.atual-mode {
  position: absolute;
  width: 100%;
  height: 100%;

  animation: rounded 14s linear infinite;
}

@keyframes rounded {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.atual-mode span {
  position: absolute;
  left: 50%;

  transform-origin: 0 75px;
}

#circle-text {
  color: var(--black);
  font-size: 1.2rem;
}

.toggle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  position: absolute;
  display: inline-block;

  width: 80px;
  height: 40px;

  margin: 50px;

  z-index: 10;

  transform: rotate(90deg);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: none;
  border: 3px solid var(--black);
  transition: 0.4s;

  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2px;
  bottom: 0;
  top: 2px;
  background: var(--black);
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background: none;
  border: 3px solid var(--black);
}

input:checked + .slider::before {
  transform: translateX(38px);
  background: var(--black);
}

.contact-buttons {
  width: 30vw;
  height: 10vw;

  margin-top: -11vw;
  margin-left: 25vw;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.contact-buttons > button {
  width: 50px;
  height: 50px;

  background: none;
  border: 1.5px solid var(--grey);
  border-radius: 50%;

  font-family: "Inter";
  font-weight: 700;

  cursor: pointer;

  color: var(--black);
}

.contact-buttons > button > i {
  font-size: 22px;
  color: var(--black);
}

#skills {
  margin-top: -3vw;
  

  width: 80vw;
  height: 25vw;
}

.skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.skills-title > h1 {
  color: var(--grey);
  opacity: 0.3;
  font-size: 8rem;
  position: absolute;
  z-index: 1;

  padding: 0;

  margin-top: 10vw;
}

.skills-title > h2 {
  z-index: 2;

  position: absolute;

  margin-top: 8vw;
  margin-left: 3vw;

  font-weight: 500;
}

.stacks {
  display: flex;
  gap: 30px;

  align-items: center;
  justify-content: center;
}

.stacks > button {
  width: 8vw;
  height: 8vw;

  margin-top: 10vw;


  background: none;
  border: 2px solid var(--black);

  transition: background 0.4s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stacks > button > span {
  position: relative;
  top: -5px;
  color: #fff;
  font-weight: 700;
}

button > img {
  width: 70px;
}

#stack-html:hover {
  background-color: #ff5722;
}

#stack-css:hover {
  background-color: #2299f8;
}

#stack-js:hover {
  background-color: #ffdf00;
}

#stack-boots:hover {
  background-color: #5e3b7f;
}

#stack-git:hover {
  background-color: #f05033;
}

#projects {
  width: 80vw;
  height: 130vw;
 

  margin-top: -10vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  
  width: 70vw;
  height: 14vw;

  display: flex;
  align-items: center;
}

.project-title > h1 {
  color: var(--grey);
  opacity: 0.3;
  font-size: 8rem;
  position: absolute;
  z-index: 1;

  padding: 0;

}

.project-title > h2 {
  z-index: 2;

  position: relative;

  margin-top: 5vw;
  margin-left: 4vw;

  font-weight: 500;
}


.project-grid {
 

  margin-top: 1vw;

  width: 70vw;
  height: 70vw;

  margin-left: 0vw;

  display: grid;
  grid-template-columns: 30vw 30vw;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.project-card {
  width: 30vw;
  height: 31vw;
  padding-bottom: 1vw;

  background: none;
  box-shadow: var(--shadow-black) 0px 5px 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  margin-top: -24vw;
}

.project-card > h1 {
  color: var(--black);
  font-weight: 700;

  margin-bottom: 2vw;
}

.project-card > .project-buttons {
  display: flex;
  gap: 10px;
}

.project-image {
  background-size: cover;
  background-position: center;

  width: 24vw;
  height: 18vw;

  margin-bottom: 1vw;
  margin-top: 1vw;

  border: 1px solid #00000050;
  border-radius: 5px;
  transition: background 0.5s;
}

#github-project {
  background-image: url(github-static.png);
}

#github-project:hover {
  background-image: url(github-mov.gif);
}

#sistok-project {
  background: url(sistok-static.png);
  background-size: cover;
  background-position: center;

  width: 28vw;
}

#sistok-project:hover {
  background: url(Sistok-mov.gif);
  background-size: cover;
  background-position: center;
}

#calc-project {
  background: url(calculadora-static.png);
  background-size: cover;
  background-position: center;
}

#calc-project:hover {
  background: url(calculadora-mov.gif);
  background-size: cover;
  background-position: center;
}

#kreativ-project {
  background: url(kreativ-static.png);
  background-size: cover;
  background-position: center;

  width: 28vw;
}

#kreativ-project:hover {
  background: url(kreativ-mov.gif);
  background-size: cover;
  background-position: center;
}

.project-buttons > button {
  width: 10vw;
  height: 3vw;
  
  border: none;
  border-radius: 35px;

  margin-top: -1vw;
}

.html-css {
  background: #00A3FF;
  color: #fff;
}

.js {
  background: #FFB800;
  color: #fff;
}

.ux-ui {
  background: #9E00FF;
  color: #fff;
}

.project-card > .project-about {
  background: none;
  width: 10vw;
  height: 3vw;
  border-radius: 32px;
  border: 2px solid var(--black);
  color: var(--black);
  font-weight: 500;

  cursor: pointer;
}

#more-projects {
  width: 12vw;
  height: 3vw;

  position: relative;

  margin-top: 3vw;
  margin-left: 35vw;

  border-radius: 30px;

  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#more-projects > i {
  font-size: 1.2rem;
}

.other-projects {
  width: 70vw;
  height: 30vw;

  background: red;

  margin-top: 1vw;
  margin-left: 5vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  padding-left: 2.2vw;
}

.repository { 
  width: 20vw;
  height: 13vw;

  background: blue;

  position: relative;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}



.repository > h1, p {
  margin-left: 3vw;
  margin-top: -1vw;
}

#zoomProjeto {
margin-top: 10vw;

}

.modal-content {
  background: var(--white);
  color: var(--black);
}

.modal-header, .modal-body {
  background: var(--white);
  color: var(--black);
}

.modal-body > p {
  margin-top: 10px;
  margin-left: 0px;
}

.modal-pé {
  height: 80px;

  background-color: var(--white);
  border-radius: 5px;

  display: flex;
  align-content: center;
  justify-content: center;
}

.modal-pé > a {
  margin-top: 5px;
}

.modal-pé > a > button {
  width: 12vw;
  height: 3vw;
  border-radius: 30px;
  border: 1px solid;
}


#orbitshift-project {
  background: url(orbitshift-static.PNG);
  background-size: cover;
  background-position: center;

  width: 28vw;
}

#skambo-project {
  background: url(skambo-static.PNG);
  background-size: cover;
  background-position: center;

  width: 25vw;
}